body {
  background-color: #fdf9cc;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #584746;
}

nav {
    background-color: #dd433d;
    text-decoration: none;
    color: #d4cdab;
}



nav h1 > a {
    font-family: 'Yatra One', cursive;
    font-size: 2.5rem;
}

a {
    text-decoration: none;
    color: color: #584746;
}

.login {
  font-size: 1.5rem;
}

.login > a {
  color: color: #584746;
}
